<div class="container-fluid top pt-3">
    <div class="row">
        <div class="col-md-3">

            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        
        </div>
        
        <div class="col-md-6">
            <h3 class = "text-center">OLX / QUIKR CLONE</h3>
        </div>

        <div class="col-md-3">person</div>
    </div>

    <div class="row posts-sectio+n">
       your posts
    </div>
</div>

